@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@theme {
  --color-orange: #f69520;
  --color-darkBlue: #1d2554;
  --color-darkOrange: #b36c17;
}

html {
  font-family: var(--font-work-sans), sans-serif;
}

.new {
  background-color: #f69520;
  color: white;
}
.favorite {
  background-color: #ffe923;
  color: black;
}
.discount {
  background-color: #ff8154;
  color: white;
}
.sold-out {
  background-color: #d6d6d6;
  color: black;
}

button {
  cursor: pointer;
}

button:active {
  scale: 95%;
}
